# SQL, shared objects, build artifacts
*.sql
*.so
*.out
*.tar.gz
*.db
*.db-journal
*.npy
*.bin

# IDE / editor
.vscode/

# Python / virtualenv
venv/
*.pyc
poetry.lock

# Folders to ignore
sift/
vendor/
dist/
tmp/
alexandria/
openai/
examples/supabase-dbpedia
examples/ann-filtering
examples/dbpedia-openai
examples/imdb
examples/sotu

# Specific files
sqlite-vec.h
memstat.c
memstat.*

# JSON data
*.jsonl
